.hero{
    .row{
        display: flex;

    }
    .col:nth-child(1){
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            width: 150px;
        }
        span{
            font-weight: bold;
        }
        img{
            width: 100% !important;
            height: 250px !important;
            object-fit: cover;
        }
    }
    .col:nth-child(2){
        flex: 3;  
        display: flex;
        justify-content: center;
        img{
          
            width: 500px;
            height: 400px;
            object-fit: cover;
        }
    }
}