.modale{
    position: relative;
    .btns{
        width: 50%;
        height: 20%;
        position: absolute;
        top: 50px;
       
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
  
}