.modale{
    position: relative;
    width: 50%;
    height: auto;
    .btns{
        width: 100%;
        height: 20%;
        position: absolute;
        top: 40px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
  
}