.serie{
    button {
    width: 200px !important;
    color: black !important;  
    .row{
        height: 50hv;
    }
}

@media (max-width: 768px) {
    button {
        font-size: 12px !important;
        width: 100px !important;
    }
}
}